
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

nav img{
    width: 10em;
}

nav div p{
    text-decoration: none;
    color: var(--main-color);
    cursor: pointer;
}

nav div p:hover{
    text-decoration: underline;
}
