
.container {
        background-color: #000000;
        background: url('../assets/img/fondoConfetti.webp');
        background-attachment: fixed;
        background-size: 100%;
        height: auto;
        min-height: 100vh;
        color: white;
        display: flex;
        justify-content: center;
        padding-bottom: 10em;
    }
    

.content {
    width: 75%;
    height: 100%;
}

@media (max-width: 1255px) {
    .content {
        width: 90%;
    }
}
